.order-book-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  padding-left: 10px;
}

.order-book-container h1 {
  color: blue;
}

.buy {
  color: red;
}

.sell {
  color: green;
}

.transactions-container > button {
  padding: 5px 10px;
  margin-right: 10px;
  /* background-color: blue; */
  color: white;
  outline: none;
  border-radius: 5px;
}

.transactions-container > button:hover {
  background-color: blue;
}

.transactions {
  padding-top: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.order, .user-card {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.user-card {
  width: 60%;
}

.error {
  color: red;
}

p {
  margin: 0;
}

h3 {
  margin: 5px 0;
}