.order-book-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  padding-left: 10px;
}

.order-book-container h1 {
  color: rgb(22, 82, 240);
}

.buy {
  color: red;
}

.sell {
  color: green;
}

.transactions-container > button {
  padding: 8px 15px;
  margin-right: 10px;
  background-color: rgb(22, 82, 240);
  border: 1px solid rgb(22, 82, 240);
  outline: none;
  border-radius: 5px;
  transition: all .2s;
  font-weight: 600;
  color: white;
}

.transactions-container > button:hover {
  background-color: rgb(0, 61, 216);
}

.transactions {
  padding-top: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.transactions p {
  margin-bottom: 4px;
}

.order, .user-card {
  padding: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.user-card {
  width: 60%;
}

.error {
  color: red;
}

p {
  margin: 0;
}

h3 {
  margin: 5px 0;
}